modules = ["python-3.10"]
run = "python gradio_demo.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python gradio_demo.py"]

[workflows]
runButton = "Run Simple Demo"

[[workflows.workflow]]
name = "Run Demo"
author = 35006224
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python gradio_demo.py --reranker jina"

[[workflows.workflow]]
name = "Run Simple Demo"
author = 35006224
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python gradio_demo.py --reranker jina"

[[ports]]
localPort = 7860
externalPort = 80
